apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-nmraeozq
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-nmraeozq:90ca04c6918100b47a0b4b3ce99f108ee0616862@sha256:ad16ec92ad68ea3532edb58fec23fc09d6ff0bb011b0f06a967186a02f915165
          name: container-image
